/* src/components/TreeMenu/TreeMenu.css */

.tree-menu-container {
  border-top: 2px solid #120880; 
  display: flex;
  flex-grow: 1;
}

.tree-section {
  position: relative;
  flex: 1;
}

.tree-list {
  padding: 20px;
  width: 180%;
}

.tree-nodes-container {
  max-height: 320px; /* Adjust this to your preference */
  overflow-y: auto; /* Enables vertical scrolling */
  margin-bottom: 20px; /* Adds some space before the inputs and buttons */
}
.tree-nodes-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; /* width of the entire scrollbar */
}

.tree-nodes-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
  border: 2px solid #ffffff; /* creates padding around scroll thumb */
}
.input-text {
  padding: 10px;
  margin: 5px 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  display: inline-block;
  width: calc(50% - 33px);
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
  margin-bottom: 10px;
}
.button {
  background-color: #007bff; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 10px 5px 0;
  display: inline-block;
  width: calc(50% - 10px);
}

.button:hover {
  background-color: #0056b3; 
}

.button-container {
  text-align: center; 
  display: flex;
  justify-content: space-between;
  padding: 0 20px; 
  margin-bottom: 10px;
  
}

.input-button-container {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 100%;
}

.input-button-container input,
.input-button-container button {
  margin: 0 5px; 
}
.disabled {
  pointer-events: none;
  opacity: 0.4; 
}
