/* src/components/TreeMenu/TreeMenu.css */

.tree-menu-container {
    display: flex;
  }
  
  .tree-menu {
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 300px; 
    overflow: auto; 
  }
  