/* src/components/ContentArea/ContentArea.css */

.content-area {
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-left: 1px solid #ccc;
    flex: 1;
    padding: 20px;
    margin-left: 0px; 
    border: 3px solid #eaf7ff; 
    background-color: #eaf7ff;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }

  .content-area > * {
    text-align: center; 
    width: 100%;
    max-width: 600px; 
  }

  .category {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .category button {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #aed4fa;
    border: none;
    text-align: left;
    border-radius: 8px;
  }
  
  .category button:hover {
    background-color: #81bffa;
  }
  
  .category-details {
    padding: 10px;
    background-color: #f9fafa;
    display: none;
  }
  
  /* If the category is open, show the details */
  .category .category-details {
    display: block;
  }
  