/* src/components/Header/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #120880;
    color: white;
    padding: 1rem;
  }
  
  .logo {
    height: 50px;
    margin-right: 1rem;
  }
  
  .header h1 {
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0;
  }
  