/* src/components/ContentArea/ContentArea.css */

.content-area {
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-left: 1px solid #ccc;
    flex: 2;
    padding: 20px;
    margin-left: 300px; 
    border: 3px solid #eaf7ff; 
    background-color: #eaf7ff;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }

  .content-area > * {
    text-align: center; /* Center-align text for all children */
    width: 100%; /* Set a specific width if you need to constrain the content width */
    max-width: 600px; /* Set a max-width to prevent stretching on very wide screens */
  }
  